.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-color: white;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 32px;
  color: #111;
  text-underline-position: auto;
  margin-left: 8px;
}

.top-nav-bar__topics {
  display: flex;
  margin-right: 8px;
}